@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the place were everyone get's rich.</p>
</div>

<div class="postForm" align="center">
    <label for="opslag">What's on your mind?</label><br>
    <textarea id="post" name="post" rows="5" cols="70"></textarea><br>
    <input type="submit" name="send" value="Post" onclick="javascript:send_post()" />
</div>

<script src="js/main.js" type="text/javascript"/>