@model IEnumerable<AseTrader.Models.EntityModels.Follow>

@{
    ViewData["Title"] = "Index";
}

<h1>People i follow</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Followers.FirstName)
                @Html.DisplayFor(modelItem => item.Followers.LastName)
            </td>
        </tr>
    }
    </tbody>
</table>
