@model AseTrader.Models.EntityModels.Post
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@*@model AseTrader.Models.ViewModels.PostsViewModel*@

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the place were everyone get's rich.</p>
</div>

<div class="text-center" align="center">
    <form asp-action="Create">
        <div class="form-group" align="center">
            <textarea asp-for="Comment" rows="10" cols="20" style="width:80%;" placeholder="Please enter your post, thank you."></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <div class="form-group" align="center">
            <input type="submit" value="Post" class="button" />&nbsp;<a asp-action="Index" class="button">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

